body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    margin: 0 40px 40px;
}

header, footer, nav, section {
    display: block;
}

nav
{
    background: #000;
    border: 0;
    font-family: 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    -webkit-font-smoothing: subpixel-antialiased;
    margin: 0px -40px 0px -40px;
    -moz-outline: 0;
    outline: 0;
    padding: 0;
    position: relative;
    text-align: left;
    vertical-align: baseline;
    z-index: 9999;
}

nav ul
{
    list-style: none;
    margin: 0;
    padding: 0 25px;
}

nav li
{
    float: left;
    line-height: normal;
    list-style-type: none;
    margin-bottom: 0;
    margin-right: 4px;
    padding: 0;
    position: relative;
}

nav li a
{
    background: transparent;
    border-right: 1px solid #222;
    color: #999;
    display: block;
    font-size: 11px;
    margin: 0;
    padding: 5px 7px 6px 4px;
    position: relative;
    -webkit-tap-highlight-color: rgba(0,0,0,0.25);
    text-decoration: none;
    vertical-align: baseline;
}

nav li a:hover
{
    background: #000;
    color: #477B96;
    -moz-outline: none;
    outline: none;
    text-decoration: underline;
}

nav li a:focus
{
    background: #000;
    -moz-outline: none;
    outline: none;
}

nav li a:active
{
    background: #000;
    -moz-outline: none;
    outline: none;
}

nav li a.currentPage
{
    color: #ddd;
}

nav li a.currentPage:hover
{
    color: #ddd;
}

footer
{
    font-size: 8pt;
    text-align: center;
    background-color: #ddd;
    margin-top: 10px;
}
