@{
    ViewBag.Title = "AfterAjaxSuccess";
}
@Styles.Render("~/Scripts/DataTables-1.9.4/media/css/demo_table.css")
<h2>After Ajax Success</h2>
<p>
The <code>afterAjaxSuccess</code> property is a function that is called after the ajax d
</p>
<table id="example1" style="width:100%"></table>
<script type="text/javascript">
    $(function () {
        $('#example1').nestedDataTables({
            dataSource: "@Url.Action("GetStates")",
            columns:
                [
                    { mDataProp: "StateID", sTitle: "State", nestedDataTables: { key: true } },
                    { mDataProp: "StateName", sTitle: "State Name" },
                    { mDataProp: "Population", sTitle: "Population" }
                ],
            nestedDataTable:
                {
                    dataSource: "@Url.Action("GetCounties")",
                    columns:
                        [
                            { mDataProp: "StateID", bVisible: false, nestedDataTables: { key: true } },
                            { mDataProp: "Name", sTitle: "County Name", nestedDataTables: { key: true, paramName: "CountyName" } },
                            { mDataProp: "AreaSqMi", sTitle: "Area Sq/Mi" },
                            { mDataProp: "Population", sTitle: "Population" },
                            { mDataProp: "WebUrl", sTitle: "Web Page" }
                        ],
                    nestedDataTable:
                        {
                            dataSource: "@Url.Action("GetCities")",
                            columns:
                                [
                                    { mDataProp: "Name", sTitle: "City Name" },
                                    { mDataProp: "AreaSqMi", sTitle: "Area Sq/Mi" },
                                    { mDataProp: "Population", sTitle: "Population" },
                                    { mDataProp: "WebUrl", sTitle: "Web Page" }
                                ],
                            nestedDataTable: null
                        }
                }
        });
    });
</script>
<h4>Code:</h4>
<pre>
</pre>
