@{
    ViewBag.Title = "Documentation";
}

<h2>Documentation</h2>
<h1 id="nesteddatatables-v131">﻿nestedDataTables v1.3.1</h1>
<p>Copyright 2012 Zack Moore, all rights reserved. This source file is free 
software, under either the GPL v2 license or a BSD style license.</p>
<p>This source file is distributed in the hope that it will be useful, but 
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or 
FITNESS FOR A PARTICULAR PURPOSE. See the license files for details.</p>
<h2 id="depends-on">Depends on:</h2>
<ul>
	<li>jQuery v1.7.2 or higher or jQuery v1.8.2 or higher http://jquery.com</li>
	<li>DataTables v1.9.4 or higher http://www.datatables.net/</li>
	<li>jQueryUI v. 1.8.23 or higher (optional) http://jqueryui.com </li>
</ul>
<h2 id="description">Description:</h2>
<p>Create a series of nested dataTables.</p>
<h2 id="example">Example</h2>
<div class="codehilite">
	<pre>$<span class="p">(</span><span class="s">'#myTable'</span><span class="p">).</span><span class="n">nestedDataTables</span><span class="p">({</span>
    <span class="n">dataSource</span><span class="p">:</span> "<span class="n">WebService</span><span class="p">.</span><span class="n">asmx</span><span class="o">/</span><span class="n">GetStates</span>"<span class="p">,</span>
    <span class="n">dataTablesOptions</span><span class="p">:</span>
    <span class="p">{</span>
        <span class="n">bJQueryUI</span><span class="p">:</span> <span class="n">true</span><span class="p">,</span>
    <span class="p">},</span>
    <span class="n">columns</span><span class="p">:</span>
        <span class="p">[</span>
            <span class="p">{</span> <span class="n">mDataProp</span><span class="p">:</span> "<span class="n">StateID</span>"<span class="p">,</span> <span class="n">nestedDataTables</span><span class="p">:</span> <span class="p">{</span> <span class="n">key</span><span class="p">:</span> <span class="n">true</span><span class="p">,</span> <span class="n">paramName</span><span class="p">:</span> "<span class="n">StateID</span>" <span class="p">}</span> <span class="p">},</span>
            <span class="p">{</span> <span class="n">mDataProp</span><span class="p">:</span> "<span class="n">StateName</span>" <span class="p">},</span>
            <span class="p">{</span> <span class="n">mDataProp</span><span class="p">:</span> "<span class="n">Population</span>" <span class="p">}</span>
        <span class="p">],</span>
    <span class="n">nestedDataTable</span><span class="p">:</span>
        <span class="p">{</span>
            <span class="n">dataSource</span><span class="p">:</span> "<span class="n">WebService</span><span class="p">.</span><span class="n">asmx</span><span class="o">/</span><span class="n">GetCounties</span>"<span class="p">,</span>
            <span class="n">columns</span><span class="p">:</span>
                <span class="p">[</span>
                    <span class="p">{</span> <span class="n">mDataProp</span><span class="p">:</span> "<span class="n">StateID</span>"<span class="p">,</span> <span class="n">bVisible</span><span class="p">:</span> <span class="n">false</span><span class="p">,</span> <span class="n">nestedDataTables</span><span class="p">:</span> <span class="p">{</span> <span class="n">key</span><span class="p">:</span> <span class="n">true</span><span class="p">,</span> <span class="n">paramName</span><span class="p">:</span> "<span class="n">StateID</span>" <span class="p">}</span> <span class="p">},</span>
                    <span class="p">{</span> <span class="n">mDataProp</span><span class="p">:</span> "<span class="n">Name</span>"<span class="p">,</span> <span class="n">nestedDataTables</span><span class="p">:</span> <span class="p">{</span> <span class="n">key</span><span class="p">:</span> <span class="n">true</span><span class="p">,</span> <span class="n">paramName</span><span class="p">:</span> "<span class="n">CountyName</span>" <span class="p">}</span> <span class="p">},</span>
                    <span class="p">{</span> <span class="n">mDataProp</span><span class="p">:</span> "<span class="n">AreaSqMi</span>" <span class="p">},</span>
                    <span class="p">{</span> <span class="n">mDataProp</span><span class="p">:</span> "<span class="n">Population</span>" <span class="p">},</span>
                    <span class="p">{</span> <span class="n">mDataProp</span><span class="p">:</span> "<span class="n">WebUrl</span>" <span class="p">}</span>
                <span class="p">],</span>
            <span class="n">nestedDataTable</span><span class="p">:</span>
                <span class="p">{</span>
                    <span class="n">dataSource</span><span class="p">:</span> "<span class="n">WebService</span><span class="p">.</span><span class="n">asmx</span><span class="o">/</span><span class="n">GetCities</span>"<span class="p">,</span>
                    <span class="n">columns</span><span class="p">:</span>
                        <span class="p">[</span>
                            <span class="p">{</span> <span class="n">mDataProp</span><span class="p">:</span> "<span class="n">Name</span>" <span class="p">},</span>
                            <span class="p">{</span> <span class="n">mDataProp</span><span class="p">:</span> "<span class="n">AreaSqMi</span>" <span class="p">},</span>
                            <span class="p">{</span> <span class="n">mDataProp</span><span class="p">:</span> "<span class="n">Population</span>" <span class="p">},</span>
                            <span class="p">{</span> <span class="n">mDataProp</span><span class="p">:</span> "<span class="n">WebUrl</span>" <span class="p">}</span>
                        <span class="p">]</span>
                <span class="p">}</span>
        <span class="p">}</span>
<span class="p">});</span>
</pre>
</div>
<h2 id="options">Options:</h2>
<h3 id="columns">columns:</h3>
<p>This describes the columns that should populate the dataTable. This parameter 
is passed directly to dataTable() so it takes the same syntax as the dataTable 
option aoColumns with one addition. Each element in the columns array may 
contain an optional parameter named nestedDataTable.</p>
<h4 id="nesteddatatables">nestedDataTables:</h4>
<h5 id="key">key:</h5>
<p>A flag indicating whether or not this column is a key. key columns may be 
used to query the data for the next lower table. </p>
<h5 id="paramname">paramName:</h5>
<p>Normally when calling the web service to load the next table, 
nestedDataTables will will take the values the key columns of the current row 
and pass them to the web service using the column names as the web service 
parameter names. Using the paramName property, you can specify a different 
parameter name for the column value.</p>
<h3 id="datasource">dataSource:</h3>
<p>This property specifies where to load the data for the next lower table from. 
This property may be a string, function, or object.</p>
<h4 id="function">function:</h4>
<p>If dataSource is a function, then this function will be called to load this 
table. The first parameter passed to this function will be the dataTable to load 
data into. The function must call fnAddData() on this object. See DataTables 
documentation. The second parameter passed to this function are the query 
paramters. E.g. function F(dt, wsParams) { var z = [ { a:"A", b: "B" } ]; 
dt.fnAddData(z); }</p>
<h4 id="object">object:</h4>
<p>An ajax options object. This object should follow the same syntax as an 
options object passed to jQuery.ajax(). If no data property is specified, one 
will be generated by this plugin from the current row's key columns. If no 
success property is specified, one is added by the plugin to load the data into 
the new dataTable.</p>
<p>When using this option, allowing this plugin to generate the data and success 
properties.</p>
<h4 id="string">string:</h4>
<p>A url for the web service to call. The web service will be called via POST. 
It will send the column key values to the web service as JSON and it will expect 
the returned data to come back as JSON data.</p>
<h3 id="datasourceparams">dataSourceParams:</h3>
<p>Retrieve additional parameters that you would like to pass to the data source 
query. This option may be a function or an object.</p>
<h4 id="function_1">function:</h4>
<p>Returns an object whose properties are added to those passed to the data 
source query.</p>
<h4 id="object_1">object:</h4>
<p>An object whose properties are added to those passed to the data source 
query.</p>
<h3 id="onajaxsuccess">onAjaxSuccess:</h3>
<div class="codehilite">
	<pre>        <span class="n">This</span> <span class="n">property</span> <span class="n">is</span> <span class="n">a</span> <span class="k">function</span><span class="p">.</span> <span class="n">When</span> <span class="n">set</span> <span class="n">by</span> <span class="n">the</span> <span class="n">user</span><span class="p">,</span> <span class="n">this</span> <span class="k">function</span> <span class="n">will</span> <span class="n">be</span> <span class="n">called</span> <span class="n">when</span> <span class="n">the</span> <span class="n">ajax</span> <span class="n">call</span> <span class="n">succeeds</span> <span class="n">and</span> <span class="n">is</span> <span class="n">passed</span> <span class="n">the</span> <span class="n">data</span> 
        <span class="n">returned</span> <span class="n">by</span> <span class="n">the</span> <span class="n">ajax</span> <span class="n">call</span><span class="p">.</span> <span class="n">The</span> <span class="k">function</span> <span class="n">should</span> <span class="k">return</span> <span class="n">the</span> <span class="n">data</span> <span class="n">that</span> <span class="n">is</span> <span class="n">to</span> <span class="n">be</span> <span class="n">passed</span> <span class="n">to</span> <span class="n">the</span> <span class="n">datatable</span><span class="p">.</span> <span class="n">This</span> <span class="n">gives</span> <span class="n">the</span> <span class="n">user</span> <span class="n">the</span> 
        <span class="n">opportunity</span> <span class="n">to</span> <span class="n">make</span> <span class="n">any</span> <span class="n">changes</span> <span class="n">before</span> <span class="n">passing</span> <span class="n">the</span> <span class="n">data</span> <span class="n">to</span> <span class="n">the</span> <span class="n">datatable</span><span class="p">.</span>

        <span class="n">The</span> <span class="n">default</span> <span class="n">is</span> <span class="n">a</span> <span class="k">function</span> <span class="n">that</span> <span class="n">passes</span> <span class="n">the</span> <span class="n">data</span> <span class="n">through</span><span class="p">,</span> <span class="n">unless</span> <span class="n">the</span> <span class="n">data</span> <span class="n">object</span> <span class="n">has</span> <span class="n">a</span> <span class="n">property</span> <span class="n">named</span> <span class="s">'d'</span><span class="p">.</span> <span class="n">In</span> <span class="n">that</span> <span class="k">case</span> <span class="n">the</span> <span class="s">'d'</span> <span class="n">property</span> <span class="n">is</span> <span class="n">returned</span><span class="p">.</span>
        <span class="n">This</span> <span class="n">is</span> <span class="n">because</span> <span class="n">certain</span> <span class="n">web</span> <span class="n">service</span> <span class="n">frameworks</span> <span class="n">wrap</span> <span class="n">the</span> <span class="n">returned</span> <span class="n">data</span> <span class="n">in</span> <span class="n">a</span> <span class="n">container</span> <span class="n">object</span> <span class="n">as</span> <span class="n">a</span> <span class="n">security</span> <span class="n">precaution</span><span class="p">.</span>
</pre>
</div>
<h3 id="afterajaxsuccess">afterAjaxSuccess:</h3>
<div class="codehilite">
	<pre>        <span class="n">This</span> <span class="n">property</span> <span class="n">is</span> <span class="n">a</span> <span class="k">function</span><span class="p">.</span> <span class="n">When</span> <span class="n">set</span> <span class="n">by</span> <span class="n">the</span> <span class="n">user</span><span class="p">,</span> <span class="n">this</span> <span class="k">function</span> <span class="n">will</span> <span class="n">be</span> <span class="n">called</span> <span class="n">after</span> <span class="n">the</span> <span class="n">ajax</span> <span class="n">call</span> <span class="n">succeeds</span> <span class="n">and</span> <span class="n">has</span> <span class="n">finished</span> <span class="n">processing</span><span class="p">.</span>
</pre>
</div>
<h3 id="datatablesoptions">dataTablesOptions:</h3>
<p>Optional. Options to pass to dataTables plugin when creating each dataTable. 
For example, to use jQueryUI set this option to { bJQueryUI: true }</p>
<h3 id="buttonclass">buttonClass:</h3>
<p>CSS class to set on the button column for opening and closing nested tables. 
If you turn on JQueryUI support, this is set to ui-icon.</p>
<h3 id="openbuttonclass">openButtonClass:</h3>
<p>CSS class to set on the button column for opening a nested tables. If you 
turn on JQueryUI support, this is set to ui-icon-circle-triangle-e.</p>
<h3 id="openbuttontext">openButtonText:</h3>
<p>Text to display in the button column for opening a nested table. If you turn 
on JQueryUI support, this is set to blank, otherwise it defaults to "[+]" unless 
set by the user.</p>
<h3 id="closebuttonclass">closeButtonClass:</h3>
<p>CSS class to set on the button column for closing a nested tables. If you 
turn on JQueryUI support, this is set to ui-icon-circle-triangle-s.</p>
<h3 id="closebuttontext">closeButtonText:</h3>
<p>Text to display in the button column for closing a nested table. If you turn 
on JQueryUI support, this is set to blank, otherwise it defaults to "[-]" unless 
set by the user.</p>
<h3 id="nesteddatatable">nestedDataTable:</h3>
<p>This property specifies the child table to load when the user clicks the open 
icon that is the first column of the table. This property is an object that 
recursivly has the same properties as the plugin options, meaning that it has 
the properties 'columns', 'dataSource', and 'nestedDataTable'.</p>
<h2 id="functions">Functions:</h2>
<h3 id="reload">reload:</h3>
<p>Reload the nestedDataTables.</p>
<h2 id="css-classes">CSS Classes:</h2>
<h3 id="nesteddatatables-top-level-table">nestedDataTables: top level table</h3>
<h3 id="nesteddatatables-nestedtable-each-table-below-the-parent-table">
nestedDataTables-nestedTable: each table below the parent table.</h3>
<h3 id="nesteddatatables-buttoncol-the-column-in-each-datatable-that-is-a-button-to-open-the-next-datatable">
nestedDataTables-buttonCol: the column in each dataTable that is a button to 
open the next dataTable</h3>
