@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nested DataTables</h1>
    <p class="lead">Nested DataTables is a jQuery Plugin that uses DataTables to open nested tables.</p>
    <p><a href="http://datatables.net" class="btn btn-primary btn-lg">DataTables &raquo;</a></p>
</div>

<table id="example1">

</table>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>
<script>
    $(function () {
        $('#example1').nestedDataTables({
            dataSource: { url: "/api/Data/Parent/all", type: "GET" },
            columns:
            [
                { mDataProp: "ParentId", bVisible: false, sTitle: "Parent ID", nestedDataTables: { key: true } },
                { mDataProp: "Name", sTitle: "Full Name" },
                { mDataProp: "Birthday", sTitle: "Birthday" },
                { mDataProp: "HomePhoneNumber", sTitle: "Home#" },
                { mDataProp: "WorkPhoneNumber", sTitle: "Work#" },
                { mDataProp: "City", sTitle: "City" },
                { mDataProp: "State", sTitle: "State" }
            ],
            nestedDataTable:
            {
                dataSource: { url: "/api/Data/Parent/{ParentId}/Children", type: "GET" },
                dataSourceModify: function (ajaxOptions, wsParams) {
                    ajaxOptions.url = ajaxOptions.url.replace("{ParentId}", wsParams.ParentId);
                    ajaxOptions.data = null;
                },
                columns:
                [
                    { mDataProp: "ChildId", bVisible: false, sTitle: "Child ID", nestedDataTables: { key: true } },
                    { mDataProp: "ParentId", bVisible: false, sTitle: "Child ID", nestedDataTables: { key: true } },
                    { mDataProp: "Name", sTitle: "Child Name" },
                    { mDataProp: "Birthday", sTitle: "Birthday" },
                    { mDataProp: "FavoriteColorHex", sTitle: "Favorite Color" }
                ],
                nestedDataTable:
                {
                    dataSource: { url: "/api/Data/Parent/{ParentId}/Child/{ChildId}/Toys", type: "GET" },
                    dataSourceModify: function (ajaxOptions, wsParams) {
                        ajaxOptions.url = ajaxOptions.url.replace("{ParentId}", wsParams.ParentId);
                        ajaxOptions.url = ajaxOptions.url.replace("{ChildId}", wsParams.ChildId);
                        ajaxOptions.data = null;
                    },
                    columns:
                    [
                        { mDataProp: "Name", sTitle: "Toy Name" },
                        { mDataProp: "ToyType", sTitle: "Type" }
                    ],
                    nestedDataTable: null
                }
            }
        });
    });
</script>
