@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nested DataTables</h1>
    <p class="lead">Nested DataTables is a jQuery Plugin that uses DataTables to open nested tables.</p>
    <p><a href="http://datatables.net" class="btn btn-primary btn-lg">DataTables &raquo;</a></p>
</div>

<table id="example1">

</table>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>

