@{
    ViewBag.Title = "Home Page";
}
@Styles.Render(@"~/bower_components/datatables.net-bs/css/dataTables.bootstrap.css")
@Scripts.Render("~/bower_components/datatables.net-bs/js/dataTables.bootstrap.js")
@Styles.Render(@"~/bower_components/datatables.net-dt/css/jquery.dataTables.css")

<div class="jumbotron">
    <h1>Nested DataTables</h1>
    <p class="lead">Nested DataTables is a jQuery Plugin that uses DataTables to open nested tables.</p>
    <p><a href="http://datatables.net" class="btn btn-primary btn-lg">DataTables &raquo;</a></p>
</div>

<table id="example1" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ParentId</th>
            <th>Name</th>
            <th>Birthday</th>
            <th>HomePhoneNumber</th>
            <th>WorkPhoneNumber</th>
            <th>City</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>y</td>
            <td>y</td>
            <td>y</td>
            <td>y</td>
            <td>y</td>
            <td>y</td>
            <td>y</td>
        </tr>
        <tr>
            <td colspan="7">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>ParentId</th>
                            <th>Name</th>
                            <th>Birthday</th>
                            <th>HomePhoneNumber</th>
                            <th>WorkPhoneNumber</th>
                            <th>City</th>
                            <th>State</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>x</td>
                            <td>x</td>
                            <td>x</td>
                            <td>x</td>
                            <td>x</td>
                            <td>x</td>
                            <td>x</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>y</td>
            <td>y</td>
            <td>y</td>
            <td>y</td>
            <td>y</td>
            <td>y</td>
            <td>y</td>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>
<script>
    $(function () {
    });
</script>
